.card-container {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-items: center;
  gap: 32px;
  position: relative;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 16px;
  place-content: center;
  position: relative;
  text-align: center;
  transition: transform 1s;
}
.content {
  transition: transform 1s;
}

.card-image {
  object-fit: contain;
  width: 250px;
  margin-bottom: 6px;
}

.hover-text {
  font-family: "Poppins", sans-serif;
  color: orange;
  border-bottom: 0.5px solid orange;
  transition: all 500ms;
  visibility: hidden;
  opacity: 0;
}
.card:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.hover-content {
  padding: 4px 0;
  height: 32px;
}
.card:hover .hover-content {
  border-top: 1px solid gainsboro;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 10px 0.5px #6f6f70;
}

.food-description {
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.food-name {
  margin-bottom: 4px;
}
.food-cuisine {
  font-size: 12px;
  margin-bottom: 6px;
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
