.filter-wrapper {
  background-color: white;
  /* height: 82px; */
}

.filter-container {
  padding: 16px 0;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9e9eb;
  font-family: "Poppins", sans-serif;
}

.filter-tabs {
  display: flex;
  gap: 24px;
  cursor: pointer;
  flex-wrap: wrap;
}

.filter-tab {
  padding: 16px 0;
}
.filter-tab:hover {
  color: orange;
}

.tab-selected {
  border-bottom: 1px solid orange;
}
.hide-header {
  transform: translateY(-100%);
}

.filter-sticky {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e9e9eb;
  z-index: 10;
  box-shadow: 2px 2px 10px 0.5px gray;
}

@media (max-width: 768px) {
  .filter-container {
    height: unset;
  }
  .filter-wrapper {
    height: unset;
  }
  .filter-container {
    flex-direction: column;
    justify-content: space-around;
  }

  .filter-heading {
    margin-top: 24px;
    font-size: 18px;
  }

  .filter-tabs {
    gap: 8px;
    justify-content: center;
  }
  .filter-tab {
    padding: 4px;
  }
}
